<a asp-action="LucroPorProduto" asp-controller="Relatorio" class="btn btn-primary">Lucro por Produto</a>
<a asp-action="ProdutoMaisVendido" asp-controller="Relatorio" class="btn btn-primary">Produto mais vendido</a>
<a asp-action="RevendedorMaisAtivo" asp-controller="Relatorio" class="btn btn-primary">Revendedor mais ativo</a>