@using cafeservellocontroler.Models.ViewModels
@{
    ViewData["Title"] = "Relatorios";
}
<div class=" mt-4 mb-2 p-3 shadow-sm d-inline-flex">


    <i class="fa-solid fa-print fa-xl d-flex align-items-center" style=""></i>

    <p class="tamanho-font-titulo borda-titulo ">
        Relatórios
    </p>
</div>



<div class="relatorio-container  shadow-sm p-4">


    <p class="text-muted fs-5 mb-4">
        Escolha abaixo qual relatório deseja gerar. Cada relatório sera gerado em PDF.
    </p>
<div class="row g-4">

    <!-- CARD 1 -->
    <div class="col-12 col-md-4">
        <div class="card relatorio-card">
            <div class="card-body">
                <h5 class="card-title">Lucro por Produto</h5>
                <p class="card-text text-muted">
                    Veja o lucro detalhado por produto dentro de um período específico.
                </p>
                <button data-bs-toggle="modal"
                        data-bs-target="#modalLucroPorProdutoIndex"
                        class="btn btn-relatorio w-100"
                        onclick="limparFormulario()">
                    Gerar Relatório
                </button>
            </div>
        </div>
    </div>

    <!-- CARD 2 -->
    <div class="col-12 col-md-4">
        <div class="card relatorio-card">
            <div class="card-body">
                <h5 class="card-title">Produto Mais Vendido</h5>
                <p class="card-text text-muted">
                    Consulte qual produto teve maior saída no período desejado.
                </p>
                <button data-bs-toggle="modal"
                        data-bs-target="#modalProdutoMaisVendidoIndex"
                        class="btn btn-relatorio w-100"
                        onclick="limparFormulario()">
                    Gerar Relatório
                </button>
            </div>
        </div>
    </div>

    <!-- CARD 3 -->
    <div class="col-12 col-md-4">
        <div class="card relatorio-card">
            <div class="card-body">
                <h5 class="card-title">Revendedor Mais Ativo</h5>
                <p class="card-text text-muted">
                    Veja qual revendedor teve maior atividade de vendas.
                </p>
                <button data-bs-toggle="modal"
                        data-bs-target="#modalRevendedorMaisAtivoIndex"
                        class="btn btn-relatorio w-100"
                        onclick="limparFormulario()">
                    Gerar Relatório
                </button>
            </div>
        </div>
    </div>
    </div>
    </div>

