@using cafeservellocontroler.Models.Pessoa
@model ModelRevendedor

<form id="formProduto" asp-controller="Revendedor" asp-action="Criar" method="post">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Escreva o nome do revendedor">
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" asp-for="Telefone" class="form-control" placeholder="Escreva o telefone">
        <span asp-validation-for="Telefone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Escreva o email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="cnpj">Cnpj</label>
        <input type="text" asp-for="Cnpj" class="form-control" placeholder="Escreva o Cnpj">
        <span asp-validation-for="Cnpj" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="endereco">Endereço</label>
        <input type="text" asp-for="Endereco" class="form-control" placeholder="Escreva o endereço">
        <span asp-validation-for="Endereco" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="nomefantasia">Nome Fantasia</label>
        <input type="text" asp-for="NomeFantasia" class="form-control" placeholder="Escreva o Nome Fantasia">
        <span asp-validation-for="NomeFantasia" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary w-100 mt-3">Adicionar</button>
    <button type="button" class="btn btn-danger w-100 mt-3" data-bs-dismiss="modal">Cancelar</button>
</form>