@using cafeservellocontroler.Models.ViewModels
@model RevendedorViewModel
@{
    ViewData["Title"] = "Confirmação de Apagar Produto";
}
<div class="div-Criar responsivo">
    <div class="text-center">
        <p class="btn-danger p-4">Aviso, o revendedor selecionado será excluído permanentemente!</p>

        <div class="div-conteudo">
            <p class="display-6">
                Realmente deseja apagar o Revendedor
                <br />(@Model.Nome)
            </p>
        </div>

        <br />
        <div class="d-flex justify-content-between">
            <a class="btn btn-outline-primary btnApagar btn-block" role="button" data-bs-dismiss="modal"
               asp-controller="Revendedor" asp-action="Index">
                <i class="fa-solid fa-arrow-left fa-lg"></i>
                Cancelar Exclusão
            </a>

            <a role="button"
               class="btn btn-outline-danger btnApagar"
               asp-controller="Revendedor" asp-route-id="@Model.Id"
               asp-action="Apagar">

                <i class="fa-regular fa-trash-can fa-lg"></i>
                Excluir
            </a>
        </div>
    </div>
</div>

