@using cafeservellocontroler.Models.Login
@model ModelRecuperarSenha
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Redefinir Senha";
}
<link href="~/css/login.css" rel="stylesheet" />
@if (TempData["MensagemErro"] != null)
{

    <div class="alert-centralizado">
        <div class="alert alert-danger alert-dismissible fade show " role="alert">
            @TempData["MensagemErro"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>



        </div>
    </div>


}

<div class="tela-login">


    <img class="icone-login bemvindo-login" src="/css/LOGO CAFE.png" alt="Alternate Text" />
    <p class="bemvindo-login letra-login">Recuperação de Acesso</p>





    <form class="form-login " asp-controller="Login" asp-action="EnviarLinkParaRedefinirSenha" method="post">
        <div class="form-group ">

            <label class="logo-label-input-distancia" for="login">
                Login
            </label>
            <input type="text"
                   asp-for="Login"
                   class="form-control input-login"
                   placeholder="👤 Informe o login">
            <span asp-validation-for="Login" class="text-danger"></span>

        </div>
        <div class="form-group">

            <label class="logo-label-distancia" for="email">
                Email
            </label>
            <input type="text"
                   asp-for="Email"
                   class="form-control input-login"
                   placeholder="✉ Informe o email">

            <span asp-validation-for="Email" class="text-danger"></span>
        </div>


        <br />

        
        <button type="submit" class="btn btn-primary botao-login">Redefinir senha</button>
        <div class="d-flex">
           
            <a class="btn btn-secondary recuperarBtnVoltar" asp-controller="Login" asp-action="Index" role="button">◀ Voltar</a>
        </div>
       
        
    </form>
</div>

<style>
    .recuperarBtnVoltar{
        margin-top: 10px
    }
</style>


