@using cafeservellocontroler.Models.Pessoa.ViewModels
@model ProdutoViewModel
@{
    ViewData["Title"] = "Confirmação de Apagar Produto";
}

<div class="text-center">
    <h3>Realmente deseja apagar o Produto (@Model.Nome)</h3>

    <a class="btn btn-primary btn-block" role="button" asp-controller="Produto" asp-action="Index">Cancelar Exclusão</a>
    <a class="btn btn-danger btn-block" role="button"  asp-controller="Produto" asp-route-id="@Model.Id" asp-action="Apagar">Confirmar Exclusão</a>
</div>
