<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CAFÉ SERVELLO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tabelas.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/Search_PesquisaCss/Search.css" asp-append-version="true" />
   

    <link rel="stylesheet" href="~/cafeservellocontroler.styles.css" asp-append-version="true" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />


    
        </head>

        <body class="bodi">
 

    @* NAVBAR *@

    <header>
        <nav class="navbarr">
            <div class="navbarr ">
                
                <div class="mt-4 mb-4 p-4 shadow-sm w-100">

                    <p class="borda-titulo">
                        <a href="/Home/Index" class="text-reset" s>CAFÉ SERVELLO</a>
                        </p>
                </div>
                

            </div>
        </nav>
    </header>

    <div>



        @* SIDEBAR *@
        <div class="layout">
        <nav id="sidebar">
            
                @await Component.InvokeAsync("Menu")
            
        </nav>
        </div>
    </div>

           

    

    <div>
        <main role="main" class=" custom">
            @RenderBody()
        </main>
    </div>


   
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Search_PesquisaJs/search.js"></script>
    

    
    
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/ValidacoesProduto/validacaoCrud.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>
