@using cafeservellocontroler.Models.Pessoa
@model ModelPessoa
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="row d-flex justify-content-center ">


    <div class="mt-4 mb-4 p-3  shadow-sm d-flex justify-content-center flex-wrap">

        <div class="d-flex me-lg-4" >
            <i class="fa-solid fa-house fa-xl d-flex align-items-center"></i>

            <p class="tamanho-font-titulo borda-titulo ">
                Página Inicial
            </p>
        </div>



    </div>
    </div>
@await Component.InvokeAsync("HomeMenu")





