@using cafeservellocontroler.Models.Pessoa
@model ModelPessoa
@{
    ViewData["Title"] = "Home Page";
}
<h1>CaféServello</h1>
<div class="d-flex justify-content-end">
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCriar" onclick="limparFormulario()">
        Novo
    </button>
</div>