<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CAFÉ SERVELLO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Página Incial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Produto" asp-action="Index">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">TESTE</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - CAFÉ SERVELLO - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
    </div>
</footer>

<div class="text-center">
    <h1 class="display-4">Bem vindo, @Model.Nome</h1>
    <p>Controlador de Venda e Estoque</p>
    <span>Seu e-mail é: @Model.Email</span>

</div>