@using cafeservellocontroler.Models.Pessoa
@model ModelUsuario

<div class="row d-flex justify-content-center ">


    

    
    @if (Model.Perfil == cafeservellocontroler.Enums.PerfilEnum.Admin)
    {

        <a href="/Produto/Index" class="col-10 col-sm-6 col-md-3 me-4 nav-link templates-pagina-inicial item-menu">
            <div class="dentro">
                <i class="fa-solid fa-mug-hot fa-2x link-light"></i>
            </div>

            <div class="titulo-menu" >PRODUTO</div>
        </a>
          
    }
    <a href="/Venda/Index" class="col-10 col-sm-6 col-md-3 me-4 nav-link templates-pagina-inicial item-menu">
        <div class="dentro">
            <i class="fa-solid fa-store fa-2x link-light"></i>
        </div>

        <div class="titulo-menu " >VENDA</div>
    </a>

    <a href="/Revendedor/Index" class="col-10 col-sm-6 col-md-3 me-4 nav-link templates-pagina-inicial item-menu">
        <div class="dentro">
            <i class="fa-solid fa-user fa-2x link-light"></i>
        </div>

        <div class="titulo-menu " >REVENDEDOR</div>
    </a>



</div>

<div class="row d-flex mt-4 justify-content-center">


    <a href="/Relatorio/Index" class="col-md-3 me-4 nav-link templates-pagina-inicial item-menu">
        <div class=" dentro">
            <i class="fa-solid fa-print fa-2x link-light"></i>
        </div>

        <div class="titulo-menu ">RELATÓRIO</div>
    </a>

     @if (Model.Perfil == cafeservellocontroler.Enums.PerfilEnum.Admin)
    {
        <a href="/Usuario/Index" class="col-md-3 me-4 nav-link templates-pagina-inicial item-menu">
            <div class=" dentro">
                <i class="fa-solid fa-hands fa-2x link-light"></i>
            </div>
            <div class="titulo-menu ">USUÁRIO</div>
        </a>
    }

    <a href="/AlterarSenha/Index" class="col-md-3 me-4 nav-link templates-pagina-inicial item-menu">
        <div class=" dentro">
            
            <i class="fa-solid fa-fingerprint fa-2x link-light"></i>
        </div>
        <div class="titulo-menu ">PERFIL</div>
    </a>
</div>
