
.search-position{
    display: flex;
    justify-content: end;
    
}

.container-search{
    display: flex;

}

.input-group {
    display: flex;
    border: none;
    align-items: center;
    border-radius: 24px;
    background-color: white;
    padding: 8px 16px 8px 8px;
    gap: 10px

}


.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    
    color: black;
    border-radius: 50%;
    flex-shrink: 0; /* impede encolher */
    flex-grow: 0; /* impede crescer */
}
.input-field {
    border: none;
    outline: none; 
    box-shadow: none; 
   
   
    
}

.input-field:focus{
    outline: none;
}


