.search-position {
    display: flex;
    width: 100%;
}

#container-search {
    display: flex;
    width: 100%;
    flex-wrap: wrap; 
    gap: 10px;
}


.input-group {
    display: flex;
    align-items: center;
    flex: 1; 
    min-width: 100px; 
    white-space: nowrap; 
    background-color: white;
    border-radius: 6px;
    padding: 8px 12px;
    gap: 10px;
}

.input-icon {
    flex-shrink: 0;
}

.input-field {
    flex: 1;
    min-width: 50px;
    border: none;
    outline: none;
}

.d-flex.justify-content-end {
    display: flex;
    align-items: center;
}


@media (max-width: 768px) {
    #container-search {
        flex-direction: column; 
        align-items: stretch;
    }

    .d-flex.justify-content-end {
        width: 100%;
        justify-content: flex-end;
    }
}
