.modal-backdrop {
    opacity: 0.7 !important; /* 0 = transparente, 1 = opaco */

    background-color: rgba(0,0,0,0.5) !important;
}

.modal-content {
    background: white;
    /* branco 80% opaco */
    backdrop-filter: blur(5px); /* opcional: efeito vidro fosco */

}

.modal-title {
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
    color: white;
    padding: 10px;
    font-size: 24px;
    border-radius: 6px;
}

.btn-close-modal {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center / 1em auto no-repeat;
    opacity: 1;
}


.modal-header {
    background-color: #3B4656 !important;
    border-radius: 4px;
}

/*Modelagem de tela*/

label {
    font-size: 15px;
}

input.form-control {
    height: 40px;
}
select.form-control {
    height: 40px;
}

.div-Criar {
    background: #f2f2f2;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 5px;
}

.p-horario {
    background: white;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
    padding: 10px;
    border-radius: 5px;
}

.div-conteudo {
    padding: 20px;
    margin-bottom: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.div-horario {
    padding: 20px;
    margin-bottom: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.responsivo {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
