@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
bodi{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: "Poppins", sans-serif;
}

body {
    
    min-height: 100vh;
    background-color: #e3e9f7;
    
    
}

.layout {
    display: flex;
}

main.custom {
    padding: 20px !important;
    margin-top: 60px; 
    margin-left: 82px; 
    transition: margin-left 0.5s ease;
}
#sidebar {
    z-index: 20;
    position: fixed !important;
    left: 0;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2F3A4A;
    transition: all .5s ease;
    min-width: 82px !important;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.3);
}

#sidebar_content{
    padding: 12px!important;
}
#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px !important;
}
#user_avatar {
    width:50px;
    height:50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos{
    display: flex;
    color: white;
    flex-direction: column;
}

#user_infos span:last-child {
    color: white;
    font-size: 12px ;
}

ul {
    padding-inline-start: 0px;
}
#side_items{

    display: flex;
    flex-direction: column;
    gap:8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px !important;
    cursor: pointer;
}

.side-item.active{
    background-color: #e3e9f7
}

.side-item:hover:not(.active),
#logout_btn:hover{
    background-color: #4f46e5
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e3e9f7 !important;
}

.side-item.active a {
    color: #e3e9f7 !important;
 }

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout{
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none !important;
    padding: 12px !important;
    font-size: 14px !important;
    display: flex !important;
    gap: 20px !important;
    color: white;
    align-items: center !important;
    border-radius: 8px !important;
    text-align: start !important;
    cursor: pointer !important;
    background-color: transparent !important;
}

#open_btn {
    position: absolute;
    top: 25px;
    right: -15px;
    background-color: #4f46e5;
    color: #e3e9f7;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#open_btn_icon {
    transition: transform .1s ease-in-out;
   
}

.open-sidebar #open_btn_icon{
    transform: rotate(180deg);
}

.item-description {
    width: 0px !important;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .3s !important;
    
}

#sidebar.open-sidebar{
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
   width: 150px !important;
   
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start !important;
    gap: 14px !important;
}




@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

a {
    text-decoration: none;
}

