table th, table td {
    white-space: nowrap;
    padding: 8px 12px;
    vertical-align: middle;
}

.table-responsive {
    margin-top: 15px;
    background: white;
    border-radius: 7px;
}

table {
    table-layout: auto !important;
    width: 100% !important;
    font-size: 15px
}

.table-wrapper {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
}

table {
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed;
}

.table-thead {
    background-color: #3B4656;
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: #e6e6e6;
    border-radius: 5px;
}


table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody, td, tfoot, th, thead, tr {
    border-color: #ffffff;
    border-style: solid;
    border-width: 0;
}

.espacoPadraoTabela {
    width: 20%;

}
.espacoPadraoTabelaRevendedor {
    width: 24%;
}
.espacoPadraoTabelaVenda {
    width: 35%;
}
.espacoPadraoTabelaTotalVenda {
    width: 5%;
}
.espacoPadraoTabelaItem {
    width: 2%;

}
.espacoPadraoTabelaProduto {
    width: 32%
}
.espacoPadraoTabelaTelefone {
    width: 7%
}
.espacoPadraoTabelaEstoque {
    width: 2%;
}
td.espacoModificarOpcoes {
    width: 5%;
    white-space: nowrap;
}

td.espacoApagarOpcoes {
    
    text-align: center;
    width: 5%;
    white-space: nowrap;
}

.idTR {
    text-align: center;
}

.idTH {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

.btnApagar {
    padding: 12px 14px;
}

.btnModificadoTamanhoIgual {
    min-width: 85px;
    max-width: 140px;
    font-size: 14px;
    color: white;
}


.alinharModificar-ApagarTh {
    text-align: center;
}

.tamanho-font-titulo {
    font-size: 30px;
    line-height: 1;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    border-radius: 3px;
}

.borda-titulo {
    margin: 0;
    padding: 0;
}
